.App {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.App-image__container {
  display: flex;
  width: 500px;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.App-image {
  width: 100%;
}
